html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfaff;
}

.container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.tip {
  width: 100%;
  height: 170px;
  background-color: #f3f3fb;
  border-radius: 20px;
  margin-bottom: 20px;
}

.main {
  width: 100%;
  height: 100%;
  font-size: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.blockly-wrapper {
  padding: 12px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
  box-sizing: border-box;
}

nav {
  padding: 10px 0;
}

nav a {
  margin: 0 20px;
}

main {
  margin-bottom: 30px;
}

.visualization {
  height: 100%;
  width: 350px;
  vertical-align: top;
  margin-left: 20px;
}

canvas {
  border-radius: 20px;
}

.buttons {
  width: 350px;
  margin-bottom: 10px;
}

.buttons .button {
  display: inline-block;
}

#clearButton {
  float: right;
  margin-right: 10px;
}

#saveButton {
  float: right;
}

#blocklyButton {
  margin-right: 10px;
}

#blocklyDiv {
  height: 100%;
  display: inline-block;
  flex: 1;
}

/* Change default style of blockly */
.injectionDiv {
  border-radius: 20px;
}

.blocklyFlyoutBackground {
  fill: #FFF;
  fill-opacity: 1;
}
.blocklyMainBackground {
  fill: #f6f7fc !important;
}

.blocklyMainBackground {
  stroke-width: 0;
  stroke: none;
}

/* Block style */
.blocklyPathLight {
  stroke-width: 0;
}

.geras-renderer.classic-theme .blocklyText {
  font-size: 14px;
}

.geras-renderer.classic-theme .blocklyNonEditableText>rect, .geras-renderer.classic-theme .blocklyEditableText>rect {
  fill-opacity: .99;
}
