html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fbfaff;
}

.container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  font-size: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.blockly-wrapper {
  padding: 12px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
  box-sizing: border-box;
  flex: 1;
}

nav {
  padding: 10px 0;
}

nav a {
  margin: 0 20px;
}

main {
  margin-bottom: 10px;
  min-height: 350px;
  min-width: 350px;
}

.visualization {
  height: 100%;
  vertical-align: top;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

canvas {
  border-radius: 20px;
}

.buttons {
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.buttons .btn {
  display: inline-block;
}

.btn.play {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #8C66F7;
  background-image: url(../images/play-white.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 55%;
  cursor: pointer;
}

.btn.play:hover {
  background-color: #663FD3;
}

.btn.play:focus {
  outline: none;
}

.btn.stop {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #8C66F7;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 55%;
  cursor: pointer;
}

.btn.stop:before {
  content: '';
  background-color: #fff;
  display: block;
  width: 22px;
  height: 22px;
  margin: 0 auto;
  border-radius: 2px;
}

.btn.stop:hover {
  background-color: #663FD3;
}

.btn.stop:focus {
  outline: none;
}

.btn.save {
  border: none;
  width: 20px;
  height: 60px;
  float: right;
  background-image: url(../images/download.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.btn.save:focus {
  outline: none;
}

/* Change default style of blockly */
.injectionDiv {
  border-radius: 20px;
}

.blocklyFlyoutBackground {
  fill: #FFF;
  fill-opacity: 1;
}
.blocklyMainBackground {
  fill: #f6f7fc !important;
}

.blocklyMainBackground {
  stroke-width: 0;
  stroke: none;
}

.code-wrapper {
  flex: 1;
  overflow-y: auto;
  font-size: 12px;
}

code.hljs {
  height: 100%;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 6px;
}


/* Block style */
.blocklyPathLight {
  stroke-width: 0;
}

.geras-renderer.classic-theme .blocklyText {
  font-size: 14px;
}

.geras-renderer.classic-theme .blocklyNonEditableText>rect, .geras-renderer.classic-theme .blocklyEditableText>rect {
  fill-opacity: .99;
}

/* Change Category Bar Style */

.blocklyToolboxDiv {
  background-color: #fff;
}

.blocklyTreeRow {
  margin-bottom: 0px;
  height: inherit;
  line-height: inherit;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: rgba(0,0,0,0.07);
  cursor: pointer;
}

.blocklyTreeRowContentContainer {
  display: flex;
  margin: 3px 0;
}

.blocklyTreeLabel {
  line-height: 26px;
}

.blocklyTreeIcon {
  margin-top: 5px;
}
