.tip-wrapper {
	width: 100%;
	z-index: 0;
	background-color: #f3f3fb;
	border-radius: 20px;
  margin-bottom: 20px;
}

.tip-wrapper .des {
  color: #42474F;
  margin: 20px 60px;
  overflow-y: auto;
  height: 72px;
}

.main-wrapper {
  height: calc(100% - 164px) !important;
}

.progress-bar {
	counter-reset: step;
	display: flex;
	margin-top: 10px;
}

.progress-bar li {
	list-style-type: none;
	position: relative;
	flex: 1;
	text-align: center;
	padding-top: 4px;
}

.progress-bar li:before {
	content: '';
	counter-increment: step;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	background-color: #DDDDF3;
}

.progress-bar li:after {
	content: '';
	width: 78%;
	height: 4px;
	background-color: #DDDDF3;
	position: absolute;
	top: 11px;
	left: -39%;
	z-index: -1;
}

.progress-bar li:first-child:after {
	content: none;
}

.progress-bar li.active {
	padding-top: 0;
}

.progress-bar li.done:before, .progress-bar li.current:before {
	background-color: #856BF6;
}

.progress-bar li.done:hover, .progress-bar li.current:hover {
	padding-top: 0;
}

.progress-bar li.done:hover::before, .progress-bar li.current:hover::before {
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.progress-bar li.active:before {
	content: counter(step);
	background-color: #856BF6;
	width: 26px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #f3f3fb;
}

.progress-bar li.done + li:after {
	background-color: #856BF6;
}
